body{
    margin: 0 2%;
    font-family: sans-serif;
}
/*==menu==*/
/*
#menu ul{
    display: flex;
    list-style: none;
}
.menu1{
    width: 100%;
   
}
.menu1 img {
    width: 10%;

}
.menu2{
    width: 100%;
    padding-left: 10%;
}
.menu2 img{
    width: 15%;
}
.menu2 ul li a{
    color: black;
    text-decoration: none;
    margin: 40px;
}
.menu2 li {
    margin-top: 25px;
}

/*==phananhbanner==*/
.anhbanner img{
    width: 86%;
    margin: 0 100px;

}
.text1 .tieude {
    font-size: 20px;
    position: absolute;
    top: 120px;
    left: 450px;
    color: rgb(202, 225, 233);
}
.noidungtieude {
    font-size: 17px;
    position: absolute;
    top: 190px;
    left: 550px;
    color: white;
}
.text2{
    margin-left: 100px;
    margin-top: 20px;

}
/*==phananh==*/
.row img {
    margin: 10px 0px;
    width: 100%;
    border-radius: 15px;
}

.anh3 img{
    height: 569px;
    width: 100%;
}
footer{
    display:flex;
}
.left{
    margin-left: 100px;
}
.right{
    padding-left: 100px;
}
